<div class="components info-blocks">
  <ul>
    <li class="bold-colours">
      <h2 class="heading-medium with-sub-text">
        This consultation ran from:
      </h2>
      <p>
        4th November 2015 9:00am to 27 January 2016 11:45pm
      </p>
      <h2 class="heading-medium with-sub-text">
        summary:
      </h2>
      <p>
        Extra-statutory concessions (ESCs): consultation on the impacts of withdrawing nine of HM Revenue and Customs (HMRCs) ESCs.
      </p>
      <a href="">
        This consultation is being help on another website
      </a>
    </li>
    <li>
      <h2 class="heading-medium"> Statistics release canceled</h2>
      <p>
        The Ministry of Defence ran a public consultation on changes to armed forces personnell stastistics. For information on there statistics previously contained in this publication can be found,
        <a href=""> please see the consultation response here</a>
      </p>
    </li>
    <li>
      <h2 class="heading-medium with-sub-text">Closes tomorrow</h2>
      <h3 class="heading-small">leicester Flood Risk Management Strategy</h3>
      <a href=""> Read and respond</a>
    </li>
  </ul>
</div>
