<div class="metadata-dates component">
  <dl>
    <dt class="column-one-third">
      Published:
    </dt>
    <dd class="column-two-thirds">
      <span class="date">18 november 2013</span>
      <span class="time">11:44pm</span>
    </dd>
    <dt class="column-one-third">
      Updated:
    </dt>
    <dd class="column-two-thirds">
      <span class="date">18 november 2013</span>
      <span class="time">11:45pm</span>
      <p>
        Various links updated. 3.22 QTLS - maintained ifl registration requirement included. Page 7, 3.33,4.14, 4.21, 4.39 revision to the FSM uplift qualifying criteria. 4.22 Reference to the ITT Grant funding offer letter and Grant funding terms included. 4.34 ITT extranet information updated. 4.27,4.31 and 4.52 Funding and trainee data reconciliation process updated and clrified. 4.46 Salaried Troops 2 teach uplift paymnet date clarified. page 36 additonali contact email address added.
      </p>
      <a href=""> + see all updates</a>
    </dd>
  </dl>
</div>



