// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.lightbox__outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__inner {
  background: $govuk-blue;
  margin: 50px auto;
  padding: 30px;
  max-width: 500px;
  h1, p {
    color: white;
  }

  h1 {
    @include bold-36;
    margin-top: 0;
  }

  p {
    @include core-19;
  }

  strong {
    font-weight: 700;
  }

  a.button {
    background-color: white;
    font-weight: 700;
    padding: 15px 30px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
    color: $govuk-blue;
  }
}
