.publications {

  li {
    position: relative;
    padding-left: 130px;
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
  }

  li:before {
    content: " ";
    display: block;
    border: 2px solid grey;
    height: 100px;
    width: 70px;
    box-shadow: 4px 5px 1px -1px grey;
    position: absolute;
    left: 0;
  }

  p {
    font-size: 16px;
  }

  p.download a {
    display: block;
    font-weight: bold;
  }
  a.request-copy {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
  }
}
