{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">GOV.UK prototype kit</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">Tutorials</h1>

  <p class="text">
    These examples are used in GDS's 1 day prototyping training course.
  </p>

  <ul class="list list-bullet">
    <li>
      <a href="lesson-1-pages">
        Lesson 1: Pages
      </a>
    </li>
  </ul>

</main>

{% endblock %}
