// Breadcrumbs
// ==========================================================================


// Breadcrumbs
//
// Standard GOV.UK breacrumb style
//
// Markup:
// <div class="breadcrumbs">
//  <ol>
//    <li>  <a href="/">GOV.UK prototype kit</a></li>
//    <li><a href="/examples">Examples</a></li>
//  </ol>
// </div>
//
// Styleguide 1.0.0

.breadcrumbs {
  @include breadcrumbs;
}
