// Grid layout
//
// Introduce columns only as the content requires it. 
// Base your column ratios on halves, thirds or quarters of the page width.
//
// Style guide 1.0.0


// Content wraps the entire site content block
#content {
  @extend %site-width-container;
  @extend %contain-floats;
  padding-bottom: $gutter;

  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}

// Use .grid-row to define a row for grid columns to sit in
.grid-row {
  @extend %grid-row;
}

// Use .grid-column to create a grid column with 15px gutter
// By default grid columns break to become full width at tablet size


// Half columns
//
// Markup:
// <div class="grid-row">
//   <div class="column-one-half">
//      <p>Column</p>
//   </div>
//   <div class="column-one-half">
//      <p>Column</p>
//   </div>
// </div>
//
// Style guide: 1.1.0

.column-half,
.column-one-half {
  @include grid-column(1/2);
}

// Third columns
//
// Markup:
// <div class="grid-row">
//   <div class="column-one-third">
//      <p>Column</p>
//   </div>
//   <div class="column-two-thirds">
//      <p>Column</p>
//   </div>
// </div>
//
// Style guide: 1.2.0

.column-third,
.column-one-third {
  @include grid-column(1/3);
}

.column-two-thirds {
  @include grid-column(2/3);
}

// Quarter columns
//
// Markup:
// <div class="grid-row">
//   <div class="column-one-quarter">
//      <p>Column</p>
//   </div>
//   <div class="column-three-quarters">
//      <p>Column</p>
//   </div>
// </div>
//
// Style guide: 1.3.0

.column-quarter,
.column-one-quarter {
  @include grid-column(1/4);
}

.column-three-quarters {
  @include grid-column(3/4);
}
