{{<layout}}

{{$pageTitle}} Start page example {{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Street theatre</a></li>
      <li>Juggling</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        You are not eligible for a juggling licence
      </h1>

      <p>
        Licenced jugglers must be able to juggle at least 5 balls for 5 minutes.
      </p>
      <p>
        You can improve your juggling skills with training.
      </p>
      <p>
        <a href="">Here is a list of licenced juggling trainers in the UK</a>
      </p>

    </div>
    <div class="column-third">

      <div class="related-links">
        <h2 class="heading-medium">Street theatre</h2>

        <ul class="font-xsmall">
          <li><a href="#">Mime</a></li>
          <li><a href="#">Busking</a></li>
          <li><a href="#">Unicylists</a></li>
          <li><a href="#">Standing really still in fancy dress</a></li>
          <li><a href="#" class="bold-xsmall">More</a></li>
        </ul>
      </div>

    </div>

  </div>

</main>

{{/content}}

{{/layout}}
