{{<layout}}

{{$pageTitle}} Start page example {{/pageTitle}}

{{$propositionHeader}}
<!-- blank for no proposition header -->
{{/propositionHeader}}

{{$headerClass}}
<!-- blank for no proposition header -->
{{/headerClass}}

{{$content}}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="">Street theatre</a></li>
      <li>Juggling</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Apply for a juggling licence
      </h1>

      <p>
        You need a licence to juggle in a public space in the UK.
      </p>


      <p>
        <a class="button button-start" href="question-1" role="button">Apply now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="#">apply by post.</a></p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

      <p>You can’t register for this service if you’re in the UK illegally.</p>

    </div>
    <div class="column-third">

      <div class="related-links">
        <h2 class="heading-medium">Street theatre</h2>

        <ul class="font-xsmall">
          <li><a href="#">Mime</a></li>
          <li><a href="#">Busking</a></li>
          <li><a href="#">Unicylists</a></li>
          <li><a href="#">Standing really still in fancy dress</a></li>
          <li><a href="#" class="bold-xsmall">More</a></li>
        </ul>
      </div>

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
